.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Do not upload files that are too big
data/USA/

outputs/*/samples_none.rds
outputs/*/samples_1.rds
outputs/*/samples_2.rds
outputs/*/samples_3.rds

outputs/RACA-spatial-model-tests

